* {
  box-sizing: border-box;
  margin: 0 auto;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--hotblack);
  background: var(--white);
}
:root {
  --pink: #8b008b;
  --blue: #0000ff;
  --lowblue: #2196f3;
  --black: #000000;
  --hotblack: #212121;
  --gray: #757575;
  --white: #ffffff;
  --lowgray: #2f303a;
  --lightgrey: #f5f4fa;
  --red: #ff0000;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--hotblack);
}
.link:hover,
.link:focus,
.link:active {
  color: var(--red);
}
.link-active {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--lowblue);
}
.link-active:hover,
.link-active:focus,
.link-active:active {
  color: var(--red);
}
.header-pages .link .link-active {
  display: block;
}
.description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--gray);
  text-align: left;
  letter-spacing: 0.03em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.title-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.footer-link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  margin-block-start: 1em;
  display: block;
  letter-spacing: 0.03em;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--red);
}
footer {
  background: var(--lowgray);
}
.section--gray {
  background: var(--lightgrey);
  padding-top: 94px;
  padding-bottom: 94px;
}
.footer-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--white);
  margin-block-end: 1em;
  margin-block-start: 1em;
  letter-spacing: 0.03em;
}
.footer-studio {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--lowblue);
  letter-spacing: 0.03em;
}
.studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black);
}
.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ececec;
}
.container {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding: 24px;
  justify-content: space-between;
}
.header-pages {
  display: flex;
  gap: 16px;
  margin-left: auto;
  margin-right: 371px;
}
.header-links {
  display: flex;
  gap: 50px;
  margin-right: auto;
}
.first {
  text-align: center;
}
.section-top {
  padding-bottom: 94px;
  padding-top: 94px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background: var(--lowgray);
}
.sectionlist {
  padding-top: 94px;
  padding-bottom: 94px;
}
.sectionlist ul {
  display: flex;
}
.sectionlist h5 {
  color: #757575;
  text-align: left;
  font-size: 14px;
}
.sectionlist p {
  text-align: left;
}
.cointainer-description {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--hotblack);
  margin-block-end: 1em;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.cointainer-photo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1200px;
}
.team-john {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--hotblack);
  margin-block-end: 1em;
}
.container-team ul {
  margin: 0 auto;
  width: 1200px;
}
.cards {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1200px;
  padding: 0;
}
.name {
  font-weight: 500;
  text-align: center;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
.job {
  color: var(--gray);
  text-align: center;
  margin-block-end: 1em;
}
.item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding: 0px;
}
.container-footer {
  margin: 0 auto;
  width: 1200px;
}
.container-button {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  padding: 0;
}
.button-icon {
  display: flex;
}
button {
  cursor: pointer;
}
.button-icons {
  padding-right: 8px;
  display: flex;
  padding-top: 100px;
  padding-bottom: 56px;
  font: inherit;
}
.buttonp {
  border: none;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--hotblack);
  letter-spacing: 0.03em;
}
.button-blue {
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  color: var(--lightgrey);
  padding: 6px 22px 6px 22px;
}
button:hover,
button:focus,
button:active {
  color: var(--red);
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  color: var(--white);
  padding: 10px 42px 10px 41px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}
.container-p ul {
  margin: 0 auto;
  width: 1200px;
  padding-bottom: 94px;
  display: flex;
}
.cardsp {
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;
  gap: 30px;
  display: flex;
}
.itemsp {
  border: 1px solid #eeeeee;
  flex-basis: calc((100% - 60px) / 3);
}
.projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  margin-left: 24px;
  letter-spacing: 0.06em;
  margin-block-start: 1em;
}
.projects-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--gray);
  text-align: left;
  margin-left: 24px;
  letter-spacing: 0.03em;
  margin-block-end: 1em;
}
  .section-description {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section-description ul {
    display: flex;
  }
  .section-description h5 {
    color: #757575;
    text-align: left;
    font-size: 14px;
  }
  .section-description p {
    text-align: left;
  }
  
